

#about{
   padding: 80px 20px;
   position: relative;
   /* background-color: rgb(14, 99, 172); */
   /* margin: 0 10px; */
   align-items: center; 
   width: 100%;  
   min-height: 100vh;
}

.row{
   
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: auto;
   width: 80%;
   /* border-radius: 5px; */
   /* background-color: aliceblue; */
   /* background-color: rgb(86, 52, 8); */

}

.premier_colone{
   flex-basis: 35%;
}
.premier_colone img{
   width: 100%;
   border-radius: 15px;
}
.second_colone{
   flex-basis: 60%;
   background-color:#1c1e20;
   border-radius: 5px;
   padding-left: 20px;
   color: white;
}

.text_about{
   color: #04535e;
   font-size: 50px;
}


.premier_colone{
   width: 500px;
   height: 500px;
   background-color: #1c1e20;
   border-radius: 5px;
   background-image: url('../images/hery.png');
   background-position: top center;
   background-repeat:no-repeat;
   background-size:cover;
}

.second_colone p{
   margin-top: 40px;
}

.second_colone p{
   font-weight: 800;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link{
   /* background-color: #631111; */
   display:flex;
}


.link p {
   margin-right: 20px;
    /* background-color: #04535e; */
   border-radius: 5px;
   color: rgb(56, 210, 210);
   position: relative;
}

.link p:hover{
   color: rgb(215, 207, 39);
}

.link p::after{
   content: '';
   width: 0;
   height: 2px;
   background-color: red;
   position: absolute;
   left: 0;
   bottom: 0;
   transition: all 0.6s;
}

.link p:hover::after{
   width: 60%;
   transition: all 0.5s;
}

.link p.active_nav::after{
   width: 50%;
}
.link p.active_nav{
   color: rgb(210, 157, 10);
}

.link_contente{
   width: 400px;
   margin-top: 30px;
   flex-wrap: wrap;
   display: none;
   justify-content: space-between;
}

.link_contente.active_list{
   display: flex;
}

.link_contente .link_competence{
   display: none;
}

.link_contente ul li{
   list-style: none;
   margin:15px 15px;
   color: aliceblue;
   position: relative;
   background-color: #04535e;
   border-radius: 3px;
   padding: right 20px;;
   padding-top: 2px;
}


.link_contente ul li span{
   color:red;
   padding-right: 30px;
}



.link_contente ul i{
   color: rgb(235, 211, 88);
   font-size: 13px;
}

li i{
   padding: 5px;
   /* background-color: #04535e; */
}

ul li i img{
   width: 12px;
   height: 12px;
}

.link_contente ul li:hover i{
   background-color: rgb(235, 211, 88);
   border-radius: 4px;
}
.link_contente ul li:hover{
   background-color: azure;
   color: #04535e;
   font-weight: 800;
}




