
:root{
   --color_primary:hsl(187, 92%, 19%);
   --color_second:rgb(56, 210, 210);
   --color_add1:hsl(57, 69%, 50%);
   --color_add2:hsl(164, 82%, 18%);
   --color_black:hsl(0, 0%, 0%);
   --color_white:hsl(0, 0%, 100%);
   --color_bgc:hsl(210, 7%, 12%);
}


#about{
   padding: 80px 20px;
   position: relative;
   /* background-color: rgb(14, 99, 172); */
   /* margin: 0 10px; */
   align-items: center; 
   width: 100%;  
   min-height: 100vh;
   display: flex;
   align-items: center;
}


.container{
   
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: auto;
   width: 80%;
   /* border-radius: 5px; */
   /* background-color: aliceblue; */
   /* background-color: rgb(86, 52, 8); */

}

.premier_colone{
   flex-basis: 35%;
}
.premier_colone img{
   width: 100%;
   border-radius: 15px;
}
.second_colone{
   flex-basis: 60%;
   background-color:var(--color_bgc);
   border-radius: 5px;
   padding-left: 20px;
   color:var(--color_white);
}

.title{
   color: var(--color_primary);
   font-size: 50px;
}


.premier_colone{
   width: 500px;
   height: 500px;
   background-color: var(--color_bgc);
   border-radius: 5px;
   background-image: url('../images/hery.png');
   background-position: top center;
   background-repeat:no-repeat;
   background-size:cover;
}



.second_colone p{
   margin-top: 40px;
   font-weight: 800;
   font-size: large;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link{
   /* background-color: #631111; */
   display:flex;
}


.link p {
   margin-right: 20px;
    /* background-color: #04535e; */
   border-radius: 5px;
   color: var(--color_second);
   position: relative;
}

.link p:hover{
   color: var(--color_add1);
}

.link p::after{
   content: '';
   width: 0;
   height: 2px;
   background-color: red;
   position: absolute;
   left: 0;
   bottom: 0;
   transition: all 0.6s;
}

.link p:hover::after{
   width: 60%;
   transition: all 0.5s;
}

.link p.active_nav::after{
   width: 50%;
}
.link p.active_nav{
   color: var(--color_add1);
}

.link_contente{
   width: 500px;
   margin-top: 30px;
   flex-wrap: wrap;
   display: none;
   justify-content: space-between;
   /* background-color: #fff; */
}

.link_contente.active_list{
   display: flex;
}

.link_contente .link_competence{
   display: none;
}

.link_contente ul li{
   list-style: none;
   margin:15px 15px;
   color:var(--color_white);
   position: relative;
   padding: right 20px;;
   padding-top: 2px;
   width:100%;
   display: flex;
   align-items: center;
   justify-content: left;
 
}


.link_contente ul li span{
   color:var(--color_second);
   padding-right: 40px;
   font-weight: 500;
   font-family: Arial, Helvetica, sans-serif ;
}



.link_contente ul i{
   color: var(--color_add1);
   font-size: 13px;
}

li i{
   padding: 5px;
   /* background-color: #04535e; */
}

ul li i img{
   width: 12px;
   height: 12px;
}

.link_contente ul li i:hover img {
   background-color: var(--color_add1);
   border-radius: 4px;
   width: 16px;
   height: 16px;
}
.link_contente ul li:hover{
   background-color: var(--color_primary);
   box-shadow: 0 0 1rem var(--color_white);
   border-radius: 10px;
   
}




