*::-webkit-scrollbar{
   display: block;
   border: none;
   border-radius: 10px;
   padding-inline: 50px;
   width: 5px;
   height: 5px;
}

*::-webkit-scrollbar-thumb{
   background-color: royalblue;
   border: none;
   border-radius: 5px;
}
*::-webkit-scrollbar-track{
   background-color: transparent;
}

*::-webkit-scrollbar-button, *::-webkit-scrollbar-corner{
   display: none;
}