
:root{
    --color_primary:hsl(187, 92%, 19%);
    --color_second:rgb(56, 210, 210);
    --color_add1:hsl(57, 69%, 50%);
    --color_add2:hsl(164, 82%, 18%);
    --color_black:hsl(0, 0%, 0%);
    --color_white:hsl(0, 0%, 100%);
    --color_bgc:hsl(210, 7%, 12%);
 }

 
#service{
    border-top: 1px solid var(--color_primary);
    padding-top: 40px;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    /* background-color: var(--color_bgc); */
    
}

.container_service{
    padding: 10px 30px;
    position: relative;
    width: 85%;
    height: 75vh;
    /* background-color: var(--color_bgc); */
    align-items: center;
    display: flex;
    margin: auto;
    justify-content: center;
   
}
 
#service .title{
    color: var(--color_primary);
    font-size: 50px;
    font-weight: 900;
    margin-top: 20px;
}
/* text-shadow: 0 0 1rem var(--color_second);



/* style div  */



.container_service .dev, .container_service .designe, .container_service .maintenance{
    width: 400px;
    height: 450px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    overflow-y: hidden;
}

.container_service .dev:hover,
 .container_service .designe:hover, 
 .container_service .maintenance:hover{
    box-shadow: 0 0 6rem var(--color_primary);
}

.container_service .dev{
    background-image: url('../images/dev.jpg');
}

.container_service .designe{
    background-image: url('../images/designer.jpg');
    margin-left: 15px;
    margin-right: 15px;
}
.container_service .maintenance{
    background-image: url('../images/maintenance.jpg');
}
.container_service .text{
    width: 100%;
    height: 200px;
    color: var(--color_white);
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 0 0 5px 5px;
    display: none;

    /* border-radius: topleft, topright, bottomrihgt, bottomleft */
}

#service h3{
    color: var(--color_second);
}


.container_service .dev:hover .text,
.container_service .designe:hover .text,
.container_service .maintenance:hover .text{
    display: block;
    border-top: 2px solid var(--color_add1);
    border-radius: 5px;
}

.container_service .dev:hover,
.container_service .designe:hover,
.container_service .maintenance:hover{
    border: 2px solid var(--color_second);
}

